@using System.Text
@using Microsoft.AspNetCore.Html
@model User

@{
    var user = await userManager.GetUserAsync(User);
    bool isOwnPage = user?.Id == Model.Id;
    ViewData["Title"] = "Кабінет користувача – " + user?.FullName;

    var conference = dataManager.Conferences.Current;
    var participant = conference == null || Model.OwnParticipation == null
        ? null : conference.Participants.FirstOrDefault(a => a.UserId == user?.Id);
    var articles = dataManager.Articles.GetByAuthor(Model.Id)
        .OrderBy(a => a.DateLastModified).Reverse().ToArray();

    bool isManager = await userManager.IsInRoleAsync(Model, RoleNames.MANAGER);
    bool isAdmin = await userManager.IsInRoleAsync(Model, RoleNames.ADMIN);
    bool visitorIsAdmin = await userManager.IsInRoleAsync(user, RoleNames.ADMIN);

    bool needToConfirmEmail = !Model.EmailConfirmed && isOwnPage;

    IHtmlContent AddOptionsFrom<TEnum>(TEnum selected) where TEnum : struct, Enum
    {
        var enumKeys = EnumParser<TEnum>.GetValues().ToList();
        var enumValues = EnumParser<TEnum>.GetDisplayValues().ToList();

        var options = new StringBuilder();

        for (int i = 0; i < enumKeys.Count; i++)
        {
            string selectedOption = Equals(enumKeys[i], selected) ? "selected=\"selected\"" : "";

            if (enumKeys.Count - 1 == i)
            {
                selectedOption += "class=\"signup__difference\"";
            }

            options.Append($"<option value=\"{enumKeys[i]}\" {selectedOption}>{enumValues[i]}</option>");
        }
        return Html.Raw(options.ToString());
    }
}


<section class="profile">
    <div class="container">

        @if (user != null && conference != null && conference.Participants.All(a => a.UserId != user.Id))
        {
            <div class="profile__propose">
                <div class="profile__heading">@conference.Title</div>
                <a class="profile__button profile__button--redIn" asp-action="index" asp-controller="conference">Прийняти участь</a>
            </div>
        }

        <div asp-validation-summary="All"></div>


        <div class="profile__inner">

            <h2 class="profile__title title"> </h2>

            <div class="profile__panel">

                <div class="profile__administrator">
                    <h3 class="profile__name">@Model.FullName</h3>
                    @if (needToConfirmEmail)
                    {
                        <div class="profile__status">
                            Підтвердіть вашу пошту
                            <a asp-action="SendConfirm" asp-controller="account">(відправити лист повторно)</a>
                        </div>
                    }
                    else if (isAdmin)
                    {
                        <div class="profile__status">Адміністратор</div>
                    }
                    else if (isManager)
                    {
                        <div class="profile__status">Менеджер конференції</div>
                    }
                    else if (participant != null)
                    {
                        <div class="profile__status">
                            @(EnumParser<ParticipationForm>.GetDisplayValue(participant.ParticipationForm))
                        </div>
                    }
                    else
                    {
                        <div class="profile__status">Не приймає участь</div>
                    }
                </div>

                <form class="profile__params" method="post" asp-action="SetManager" asp-controller="account"
                      asp-route-x="@Model.ProfileAddress" asp-route-newState="@(!isManager ? "manager" : "default")">

                    @if (Model.EmailConfirmed)
                    {
                        @if (isOwnPage)
                        {
                            <a href="#edit" class="profile__button profile__button--round popup__link">
                                <partial name="Components/SettingsIcon"/>
                            </a>
                        }
                        else
                        {
                            @if (visitorIsAdmin)
                            {
                                @if (!isManager)
                                {
                                    <button type="submit" class="profile__button profile__button--red">Зробити менеджером</button>
                                }
                                else
                                {
                                    <button type="submit" class="profile__button profile__button--red">Видалити з менеждерів</button>
                                }
                            }
                        }
                    }
                </form>

            </div>

            @if (isOwnPage && isManager)
            {
                <div class="profile__states">
                    <h2 class="profile__title profile__title--nc title">Конференція</h2>
                </div>

                <div class="profile__admin">

                    @if (conference != null)
                    {
                        <a class="profile__button" asp-action="edit" asp-controller="conference">Редагувати</a>
                        <a class="profile__button" asp-action="archive" asp-controller="conference">Архів</a>

                        if (isAdmin)
                        {
                            <a class="profile__button" asp-action="moveToArchive" asp-controller="conference">Завершити</a>
                        }

                        <a class="profile__button" asp-action="statistics" asp-controller="conference">Статистика</a>

                        @if (conference.Participants.All(item => item == null))
                        {
                            <a class="profile__button profile__button--red" asp-action="delete" asp-controller="conference">Видалити</a>
                        }
                    }
                    else
                    {
                        <a class="profile__button" asp-action="create" asp-controller="conference">Створити конференцію</a>
                        <a class="profile__button" asp-action="archive" asp-controller="conference">Архів</a>
                    }
                </div>
            }

            <div class="profile__states" style="margin: 110px 0 60px;">
                @if (isOwnPage)
                {
                    <h2 class="profile__title profile__title--nc title">Мої матеріали</h2>
                    @if (conference != null && !needToConfirmEmail)
                    {
                        <a class="profile__button profile__button--red" asp-controller="articles" asp-action="create">Додати</a>
                    }
                }
                else
                {
                    <h2 class="profile__title profile__title--nc title">Статті автора</h2>
                }
            </div>

            @if (articles.Any())
            {
                @await Html.PartialAsync("Components/ArticlesList", articles)
            }
            else
            {
                <h3 class="title__alert" style="text-align: left;">Поки тут порожньо...</h3>
            }
        </div>

        @if (isOwnPage)
        {
            <div id="edit" class="popup">

                <div class="popup__body">
                    <div class="popup__inner">

                        <a href="#" class="popup__close close__popup"></a>

                        <h2 class="profile__title title">Редагувати</h2>

                        <form class="register__form" method="post" asp-action="edit" asp-controller="account">

                            <div class="form__blck form__blck--trpl">
                                <input asp-for="LastName" type="text" value="@Model.LastName" placeholder="Прізвище" maxlength="100">
                                <input asp-for="FirstName" type="text" value="@Model.FirstName" placeholder="Ім'я" maxlength="100">
                                <input asp-for="MiddleName" type="text" value="@Model.MiddleName" placeholder="По-батькові" maxlength="100">
                            </div>

                            <div class="form__blck form__blck--select form__blck--dbl">
                                <input asp-for="WorkingFor" type="text" value="@Model.WorkingFor" placeholder="Місце навчання/роботи">

                                <div class="signup__select">
                                    <select asp-for="ScienceDegree">
                                        <option value="" disabled>Науковий ступінь</option>
                                        @(AddOptionsFrom<ScienceDegree>(Model.ScienceDegree))
                                    </select>
                                </div>
                            </div>

                            <div class="form__blck form__blck--select form__blck--dbl">
                                <div class="signup__select">
                                    <select asp-for="AcademicTitle">
                                        <option value="" disabled>Вчене звання</option>
                                        @(AddOptionsFrom<AcademicTitle>(Model.AcademicTitle))
                                    </select>
                                </div>
                            </div>

                            <div class="form__blck form__blck--dbl">
                                <input asp-for="MailboxIndex" type="text" placeholder="Поштовий індект">
                                <input asp-for="PhoneNumber" type="tel" placeholder="Номер телефону">
                            </div>

                            <button class="button signin__button" type="submit">
                                Зберегти змини
                                <partial name="Components/AtomIcon"/>
                            </button>

                        </form>

                    </div>
                </div>
            </div>
        }

    </div>
</section>