@model NewConferenceViewModel
@inject ProjectConfig ProjectConfig

@{
    ViewBag.Title = "Створення нової конференції";
    Layout = "_Layout";
    var config = ProjectConfig.Content.Conference;

    var user = await userManager.GetUserAsync(User);
}


<section class="conferencecreate">
    <div class="container">
        <div class="conferencecreate__inner">

            <h3 class="conferencecreate__title title">Створити конференцію</h3>
            <div asp-validation-summary="All"></div>

            <form class="conferencecreate__form" id="conferenceCreating"
                  method="post" asp-controller="conference" asp-action="create"
                  asp-route-returnUrl="@Url.Action("index", "conference")">

                <div class="form__blck form__blck--dbl">
                    <input class="form__input" asp-for="UniqueAddress" type="text" placeholder="Унікальна адреса конференції">
                    <input asp-for="Title" type="text" maxlength="@config.TitleMaxLength" placeholder="Заголовок конференції">
                </div>

                <div class="form__blck form__blck--txt">
                    <textarea width="100%" height="20" asp-for="ShortDescription" 
maxlength="@config.ShortDescriptionMaxLength" placeholder="Короткий опис"></textarea>
                </div>

                <div class="form__blck form__blck--txt">
                    <textarea width="100%" height="50" asp-for="Description" placeholder="Повний опис"></textarea>
                </div>


                <div class="form__blck form__blck--todo">
                    <input asp-for="AdminKeys" type="text" id="adminInput" placeholder="Адміністрація конференції">
                    <button id="adminButton" class="button conferencecreate__button">Додати</button>
                </div>

                <ul id="adminList" class="conferencecreate__list">
                    <li asp-for="AdminKeys" class="conferencecreate__topic">@user.FullName [@user.ProfileAddress]</li>
                </ul>

                <div class="form__blck form__blck--todo">
                    <input asp-for="Topics" maxlength="@config.TitleMaxLength" type="text"
                           id="conferenceInput" placeholder="Вкажіть тему конференції">
                    <button id="conferenceButton" class="button conferencecreate__button">Додати</button>
                </div>

                <ul id="conferenceList" class="conferencecreate__list"></ul>

                <div class="form__blck form__blck--dbl">
                    <input asp-for="DateStart" type="date" value="@Model.DateStart" placeholder="Початок конференції">
                    <input asp-for="DateFinish" type="date" value="@Model.DateFinish" placeholder="Кінець конференції">
                </div>


                <!-- Button to save form -->

                <div class="form__buttons">
                    <button class="signin__button" type="submit">Створити</button>
                    <a class="button signin__button" asp-controller="home" asp-action="index">
                        На головну
                        <picture>
                            <source srcset="img/icons/atom.webp" type="image/webp">
                            <img src="img/icons/atom.png" alt="">
                        </picture>
                    </a>
                </div>

            </form>

        </div>
    </div>
</section>