@model ConferenceViewModel

@{
    ViewData["Title"] = Model?.Title ?? "Щось йде не так, як заплановано...";

    var user = await userManager.GetUserAsync(User);
}


@if (Model == null)
{
    <h3 class="title__alert">Поки тут нічого немає...</h3>
}
else
{
    <section class="conference">
        <div class="container">

            <div class="conference__inner">
                <h2 class="conference__title title">@Html.Raw(Model.Title)</h2>

                <div class="conference__description">
                    @Html.Raw(Model.Description)
                </div>
            </div>

        </div>
    </section>
    
    <section class="new">
        <div class="container">
            <div class="new__inner">

                <div class="new__text">
                    <h2 class="new__title title">@Model.Title</h2>
                    <h3 class="new__subtitle">@Model.ShortDescription</h3>
                </div>

                @if (Model.IsActual && !await userManager.IsInRoleAsync(user, RoleNames.MANAGER))
                {
                    @if (Model.Participants.Any(a => a.UserId == user.Id))
                    {
                        <a class="new__button--leave button" asp-action="Unsubscribe" asp-controller="conference">
                            Покинути нас
                        </a>
                    }
                    else
                    {
                        <a class="new__button button" asp-action="JoinNow" asp-controller="conference">
                            Приєднатися!
                            <picture>
                                <source srcset="img/icons/atom.webp" type="image/webp"><img src="img/icons/atom.png" alt="">
                            </picture>
                        </a>
                    }

                    @* <!-- @ViewData["ResultMessage"] До лучших времён...--> *@
                }

            </div>
        </div>
    </section>
}