@model IEnumerable<ArticleViewModel>

@foreach (var article in Model)
{
    <div class="articles__item">
        <h3 class="articles__heading">
            @article.Title
        </h3>

        <div class="articles__keywords">
            @foreach (string keyWord in article.KeyWords)
            {
                <a href="#@keyWord">@keyWord</a><span>&nbsp;</span>
            }
        </div>

        <div class="articles__author">
            @foreach (var author in article.Authors)
            {
                @if (author != null)
                {
                    <a asp-action="index" asp-controller="account" asp-route-x="@author.ProfileAddress">@author.FullName</a>
                    <br>
                }
            }
            @foreach (var authorName in article.NonLinkedAuthors)
            {
                @if (authorName != null)
                {
                    @authorName
                    <br>
                }
            }
        </div>

        <div class="articles__description">
            <h4>
                @article.Topic?.Name
            </h4>
            @article.ShortDescription
        </div>

        <div class="articles__buttons">
            <a class="articles__button" asp-action="document"
               asp-controller="resources" asp-route-id="@article.DocFileAddress">
                Завантажити
            </a>
            <a class="articles__button button" asp-action="index"
               asp-controller="articles" asp-route-x="@article.UniqueAddress">
                Переглянути
            </a>
        </div>

        <div class="articles__date">
            @article.GetFormatCreatingDate()
        </div>
    </div>
}