@using System.Text
@using Microsoft.AspNetCore.Html
@model ArticleViewModel

@{
    ViewData["Title"] = "Редагування – " + Model.Title;
    ViewData["DisableFooter"] = true;

    var config = projectConfig.Content.Conference;

    var conference = dataManager.Conferences.Current;
    // var allTopics = conference.Topics?.ToList() ?? new List<Topic>();
    var user = await userManager.GetUserAsync(User);

    IHtmlContent AddTopicOptions()
    {
        var options = new StringBuilder();

        foreach (var topic in conference?.Topics?.ToList() ?? new List<Topic>())
        {
            string para = Model.Topic?.Id == topic.Id ? "selected" : "";
            options.Append($"<option value=\"{topic.Id}\" {para}>{topic.Name}</option>");
        }

        return Html.Raw(options.ToString());
    }
}


<section class="articlecreate conferencecreate conferencecreate--fullpage">

    <div asp-validation-summary="All"></div>

    <div class="container">
        <div class="conferencecreate__inner">

            <div class="conferencecreate__title title">Редагувати матеріал</div>

            <form class="conferencecreate__form" enctype="multipart/form-data" id="conferenceCreating"
                  method="post" asp-controller="articles" asp-action="edit" asp-route-x="@Model.UniqueAddress"
                  asp-route-returnUrl="@Url.Action("index", "articles", new {x = Model.UniqueAddress})">

                @*<div class="form__blck form__blck--todo">
                    <input asp-for="Authors" type="text" id="adminInput" placeholder="Інші автори">
                    <button id="adminButton" class="button conferencecreate__button">Додати</button>
                </div>*@

                <div class="form__blck form__blck--todo">
                    <input asp-for="Authors" type="text" value="" id="editauthorInput" placeholder="Інші співавтори">
                    <button id="editauthorButton" class="button conferencecreate__button">Додати</button>
                </div>

                <ul id="editauthorList" class="conferencecreate__list">
                    @if (Model?.AuthorUsers != null)
                    {
                        @foreach (var author in Model.AuthorUsers)
                        {
                            @if (author == user)
                            {
                                <li class="conferencecreate__topic disabled">
                                    <input name="" value="Ви &mdash; @author.FullName" disabled>
                                    <button class="conferencecreate__delete" disabled>+</button>
                                </li>
                            }
                            else
                            {
                                <li class="conferencecreate__topic">
                                    <input name="Authors" value="@author.FullName">
                                    <button class="conferencecreate__delete">-</button>
                                </li>
                            }
                        }
                    }
                    @if (Model?.NonLinkedAuthors != null)
                    {
                        @foreach (string authorName in Model.NonLinkedAuthors)
                        {
                            <li class="conferencecreate__topic">
                                <input name="Authors" value="@authorName">
                                <button class="conferencecreate__delete">-</button>
                            </li>
                        }
                    }
                </ul>

                <script>
                
	                const input = document.querySelector('#editauthorInput'),
		                  button = document.querySelector('#editauthorButton'),
		                  list = document.querySelector('#editauthorList')
		                  
                    const authors = list.children
                    const authorNames = []
                    const disabled = []
                    
                    for (let author of authors) {
                        if (author.classList.contains("disabled")) {
                            disabled.push(author);
                        }
                        else {
                            const inputItem = author.getElementsByTagName('input')[0]
                            authorNames.push(inputItem.value)
                        }
                    }
                    
                    list.innerHTML = ''
                    for (let author of disabled) list.appendChild(author)
                    
                    
                    authorNames.forEach(authorName => {
                        if (authorName) createDeleteElem(authorName)    
                    })
                    
	                button.addEventListener('click', e => {
		                e.preventDefault()

		                if (input.value === '') return
		                createDeleteElem(input.value)
		                input.value = ''
	                })

	                function createDeleteElem(value) {
		                const li = document.createElement('li'),
			                  del = document.createElement('button'),
			                  imp = document.createElement('input')

		                li.classList.add('conferencecreate__topic')

		                list.appendChild(li)

		                del.classList.add('conferencecreate__delete')
		                del.textContent = '-'

		                imp.value = value
		                imp.setAttribute('name', 'Authors')

		                li.appendChild(imp)

		                li.appendChild(del)

		                del.addEventListener('click', e => {
			                e.preventDefault()

			                list.removeChild(li)
		                })
	                }
                </script>

                <div class="form__blck form__blck--select">
                    <div class="signup__select" style="width: 100%;">
                        <select asp-for="TopicId" style="max-width: none;">
                            <option value="" disabled>Тема статті</option>
                            @AddTopicOptions()
                        </select>
                    </div>
                </div>

                <div class="form__blck form__blck--dbl">
                    <input class="form__input" asp-for="KeyWords" type="text" maxlength="@config.TitleMaxLength"
                           value="@string.Join("; ", Model.KeyWords)" placeholder="Ключові слова (через , або ;)">
                    <input asp-for="Title" value="@Model.Title" type="text"
                           placeholder="Заголовок" maxlength="@config.TitleMaxLength">
                </div>

                <div class="form__blck form__blck--dbl form__blck--txt">
                    <textarea asp-for="ShortDescription" maxlength="@config.ShortDescriptionMaxLength" placeholder="Короткий опис">
                        @Model.ShortDescription
                    </textarea>

                    <div class="form__blck--file">
                        <label for="articleFile" data-multiple-caption="{count} обрано файлів">Новий файл</label>
                        <input asp-for="ArticleFile" type="file" accept=".docx, .doc" id="articleFile">
                    </div>
                </div>

                <div class="form__buttons">
                    <a class="signin__button" asp-controller="home" asp-action="index">
                        На головну
                    </a>
                    <button class="button signin__button" type="submit">
                        Змінити
                        <partial name="Components/AtomIcon"/>
                    </button>
                </div>

            </form>

        </div>
    </div>
</section>