@model ArticleViewModel

@{
    var article = Model;
    ViewData["Title"] = article.Title;
    
    ViewData["meta_description"] = article.ShortDescription;
    ViewData["meta_google"] = article.ShortDescription;
    ViewData["meta_keywords"] = string.Join(", ", article.KeyWords);
    // ViewData["meta_robots"] = "";
    
    ViewData["meta_socials_title"] =article.Title;
    ViewData["meta_socials_description"] = article.ShortDescription;
    // ViewData["meta_socials_image"] = null;
    
    var isMine = userManager.GetUserId(User) == article?.Creator?.Id;
}

@if (isMine)
{
    <div>
        <a asp-controller="articles" asp-action="edit" asp-route-id="@article.UniqueAddress">Edit</a>
        <form method="post" asp-controller="articles" asp-action="delete"
              asp-route-id="@article.UniqueAddress">
            <button type="submit">Delete</button>
        </form>
    </div>
}

<section>
    <h4>
        <span>Topic: </span> @article.Topic?.Name
    </h4>
    <h3>@article.Title</h3>
    <hr>

    @Html.Raw(article.HTMLContent)

    <hr>
    @if (!string.IsNullOrWhiteSpace(article.DocFileAddress))
    {
        <a asp-controller="resources" asp-action="document" asp-route-id="@article.DocFileAddress">
            Download as document
        </a>
    }
    <span>Created at: @article.DateCreated.ToString(CultureInfo.CurrentCulture)</span>
</section>